@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
    font-family: Inter, sans-serif;
}

/* Add this to your main CSS file (e.g., index.css) */


/* Custom blur filter for the glowing effect */
.filter-custom-blur {
  filter: blur(100px); /* Adjust the blur intensity as needed */
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
@keyframes vendors-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-vendors {
  animation: vendors-scroll 90s linear infinite;
}
@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 50s linear infinite;
}



@keyframes logos-scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.animate-logos-scrolling {
  animation: logos-scrolling 50s linear infinite;}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor-effect {
  animation: meteor 5s linear infinite;
}

.scrollbar-hide {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE & Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

