*{
    font-family: articulat-cf, sans-serif;
}
/* Add this to your main CSS file (e.g., index.css) */


/* Custom blur filter for the glowing effect */
.filter-custom-blur {
  filter: blur(100px); /* Adjust the blur intensity as needed */
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
